* {
  box-sizing: border-box;
}
body {
  font-family: Tahoma, Arial;
}
.quiz-app {
  margin: 13% auto;
  width: 55%;
  height: 300px;
  background-color: #46529d;
}
.container {
  text-align: center;
  padding-top: 10px;
}

input[type="text"] {
  height: 40px;
  padding-left: 20px;
}
.sub {
  padding-top: 30px;
}

input[type="submit"] {
  height: 44px;
  width: 120px;
  margin-left: 20px;
  background-color: #ff3300;
  color: #fff;
  cursor: pointer;
  border: none;
}
